
<h2 style="color:red">Products</h2>
<div *ngFor="let productItem of productsVar" style="background-color:cyan">
  <h2>
    <!-- <a [title]="productItem.name + ' details'"> {{ productItem.name }}</a> -->
    <a [title]="productItem.name + ' details'"
    [routerLink]="['./products',productItem.id]"> {{ productItem.name | uppercase}}</a>
  </h2>
  <p *ngIf="productItem.description">
    Description : {{ productItem.description }}
  </p>
  <p>{{ productItem.price | currency }}</p>
  <button type="button" (click)="share()">Share and care!!!!</button>

  <app-product-alerts 
  [product]="productItem"
  (notifyEventEmitterFromChild) = "handleOnNotifyInParent()"
  ></app-product-alerts>
  <br/>
</div>

<hr />
<br /><br />
<br />
<h2>Customer Data</h2>
<div>
  <!-- A stylish table using css -->
  <!-- *ngFor to iterate through customers data -->
</div>
